body {
    background-color: #1A1A1A;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.top-bar {
    background-color: #F4FF80;
    color: #1A1A1A;
    position: fixed;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    z-index: 1000;
    top: 0;
}

.boton1 {
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #F4FF80;
    color: #1A1A1A;
    border-radius: 5px;
    font-weight: 10;
    font-size: 1rem;
    cursor: pointer;
}

.boton2 {
    background-color: #303030;
    color: #FFFFFF;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 10;
    font-size: 1rem;
}

@keyframes moveText {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

.top-bar span {
    display: inline-block;
    white-space: nowrap;
    animation: moveText 10s linear infinite;
}

header {
    margin-top: 100px;
}

#noteForm {
    background-color: #2E2E2E;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #1A1A1A;
    resize: none;
    color: white;
    font-size: 1rem;
}

.botonsave {
    background-color: #F4FF80;
    color: #1A1A1A;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    border: 0;
}

.notas {
    min-width: 600px;
}

.notas-container {
    display: flex;
    min-height: 50vh;
    overflow: auto;
}

.note-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #FFFFFF;
    padding: 10px;
}

.boton-item,
.boton-eliminar {
    margin-left: 10px;
}

.note-item .boton-container {
    display: flex;
    align-items: center;
}

.note-item.delete-animation {
    animation: checklist-delete .5s ease forwards;
}

@keyframes checklist-delete {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

li {
    font-size: 1.5rem;
    text-align: justify;
}

.boton-item {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #72ff52;
    color: #1A1A1A;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-eliminar {
    background-color: #FF5252;
    color: #FFFFFF;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-eliminar:hover {
    background-color: #FF0000;
}

.boton-eliminar::before {
    content: '✕';
    margin-right: 5px;
}

.boton-eliminar::before {
    font-size: 1.2em;
    line-height: 1;
}

li {
    margin-top: 10px;
}

#noteList {
    min-height: 200px;
}
#mobileDownloadBanner {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1A1A1A;
    padding: 10px;
    text-align: center;
}

#downloadAppButton {
    padding: 10px;
    background-color: #303030;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}
